
// font
$body-font: "";
$head-font: "";

// primary color
$p50:  #ff0000;
$p75:  #008000;
$p100: #0000ff;
$p200: #ffff00;
$p300: #ffffff;
$p400: #000000;
$p500: #cd5c5c;

//secondary color
$s50:  #2e8b57;
$s75:  #87ceeb;
$s100: #ffc0cb;
$s200: #ff1493;
$s300: #9acd32;
$s400: #ffe4c4;

// other color
$n100: gray;
$n200: #4b0082;
$n300: #800080;
$n400: #add8e6;
$n500: #00008b;
$n600: #006400;
$n700: #ffff0088;
$n800: #353535;