// variable
@use './util/variable';

html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--body-font);
	font-size: 18px;
	line-height: 130%;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
}


// primary color
.text-primary-1{
  color: variable.$p50;
}
